<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Recipe Details</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/home" fill="clear" aria-label="Home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>

      <ion-button routerLink="/favourite" fill="clear" aria-label="Favourites">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>

      <ion-button routerLink="/settings" fill="clear" aria-label="Settings">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" >
  <p><b>Recipe ID:</b> {{ id }}</p>

  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-text color="danger" *ngIf="errorMsg">
    {{ errorMsg }}
  </ion-text>

<ng-container *ngIf="recipe">
  <h2>{{ recipe.title }}</h2>
  <img *ngIf="recipe.image" [src]="recipe.image" />

<h3>Ingredients</h3>

<ion-card *ngFor="let ing of recipe.extendedIngredients">
  <ion-img
    *ngIf="ing.image"
    class="ing-img--small"
    [src]="'https://spoonacular.com/cdn/ingredients_100x100/' + ing.image"
  ></ion-img>

  <ion-card-content>
    <div>{{ ing.originalClean || ing.name }}</div>
    <ion-text color="medium">{{ measureText(ing) }}</ion-text>
  </ion-card-content>
</ion-card>

<h3>Instructions</h3>
<ion-list>
  <ion-item *ngFor="let s of steps()">
    <ion-label>
        <b> {{ s.number }}:</b> {{ s.step }}
    </ion-label>
  </ion-item>
</ion-list>

<ion-button expand="block" (click)="toggleFavourite()">
  {{ isFav ? 'REMOVE FROM FAVOURITES' : 'ADD TO FAVOURITES' }}
    </ion-button>
  </ng-container>
</ion-content>