<!-- Home Page header showing student number and navigation buttons -->
<ion-header>
  <ion-toolbar>
    <ion-title>G00272147</ion-title>

    <!--Navigation buttons to Favourites and Settings pages -->
    <ion-buttons slot="end">
      <!-- TEMP: text shows even if icons fail -->
      <ion-button routerLink="/favourite" fill="clear">
        <ion-icon slot="start" name="heart"></ion-icon>
        Favourites
      </ion-button>

      <!-- Button to open Settings page -->
      <ion-button routerLink="/settings" fill="clear">
        <ion-icon slot="start" name="settings"></ion-icon>
        Settings
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="page-title">Search by Ingredients</h2>
<p class="page-subtitle">Enter one or more ingredients in the search box separated by commas:</p>
  
<!-- Search bar for ingredients -->
  <ion-searchbar
    [(ngModel)]="ingredients"
    placeholder="e.g. Chicken, rice, broccoli"
    show-clear-button="focus"
  ></ion-searchbar>

<!--Recent Searches -->
<ng-container *ngIf="recentSearches.length > 0">
  <div class="recent-title">Recent Searches:</div>

     <div class="recent-chips">
      <!-- Click a chip to re-run that search -->
      <ion-chip *ngFor="let s of recentSearches" (click)="useRecentSearch(s)">
        <ion-label>{{ s }}</ion-label>
      </ion-chip>

   <!-- Optional: clear recent searches -->
      <ion-button fill="clear" size="small" (click)="clearRecentSearches()">
        Clear
      </ion-button>
    </div>
  </ng-container>

  <!-- Search and Clear buttons -->
  <ion-button expand="block" shape="round" (click)="search()">
    Search Recipes
  </ion-button>

  <ion-button
    expand="block"
    fill="outline"
    shape="round"
    (click)="ingredients = ''; results = []; errorMsg = '';"
  >
    Clear
  </ion-button>

<!-- Show spinner while loading -->
<ion-spinner *ngIf="loading"></ion-spinner>

<!--Error Message-->
<ion-text color="danger" *ngIf="errorMsg">{{ errorMsg }}</ion-text>

<!-- No results message -->
<ion-text
  color="medium"
  *ngIf="!loading && results.length === 0 && ingredients.trim() && !errorMsg"
  >
    No recipes found. Try different ingredients.
</ion-text>

<!-- Show results as cards with images from spoonacular -->
<ion-card *ngFor="let r of results">
  <img [src]="r.image" />

  <ion-card-header>
    <!-- Recipe title -->
    <ion-card-title>{{ r.title }}</ion-card-title>
  </ion-card-header>

    <ion-card-content>
    <!-- Button to view recipe details -->
      <ion-button size="small" shape="round" (click)="goToDetails(r.id)">DETAILS</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>